.listBody{
    flex-grow: 1;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

.listBody > *{
    color: var(--gray-300);
}

.listBody > p{
    font-weight: 700;
    font-size: 1rem;
}

.listBody > span{
    font-size: 1rem;

}

.clipboard{
    padding: 1rem;
}